*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    background-image: url("../background.jpg");
    height: 690px;
    widows: 100%;
    background-size: 100% 100%;
}
.menu ul li {
    display: inline-block;
    margin: 12px 10px  0 10px;
}
.navigation {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    color: white;
}
.logo {
    padding: 12px 0 0 20px;
    font-size: 30px;
}